---
layout: resume
title: Eric Heinz
---
{% assign programming = site.data.programming %}
{% assign person = site.data.person %}
{% assign university = site.data.university %}

<div id="inner">
	<div id="hd">
		<div class="yui-gc">
			<div class="yui-u first">
				<h1>{{person.name}} {{person.lastname}}</h1>
				<h2>Developer</h2>
			</div>

			<div class="yui-u">
				<div class="contact-info">
					<h3><a id="pdf" href="/downloads/CV- Eric Heinz.pdf" class="download" title="Download CV as PDF">Download PDF</a></h3>
					<h3><a href="mailto:{{person.email}}">{{person.email}}</a></h3>
					<h3>{{ person.telephone }}</h3>
				</div><!--// .contact-info -->
			</div>
		</div><!--// .yui-gc -->
	</div><!--// hd -->

	<div id="bd">
		<div id="yui-main">
			<div class="yui-b">
				<div class="yui-gf">
					<div class="yui-u first">
						<h2>Profile</h2>
					</div>
					<div class="yui-u">
						<ul class="talent-2">
							<li>Full Name</li>
							<li>Birthday</li>
							<li>Address</li>
							<li class="last">Languages</li>
						</ul>
						<ul class="talent-2">
							<li>{{ person.fullname }}</li>
							<li>{{ person.birthday }}</li>
							<li>{{ person.address }}, {{ person.town }}, Germany</li>
							<li class="last">{{ person.spoken_languages | join: ", " }}</li>
						</ul>
					</div>
				</div><!--// .yui-gf -->

				<div class="yui-gf">
					<div class="yui-u first">
						<h2>Skills</h2>
					</div>
					<div class="yui-u">
						<div class="talent">
							<h2>Teamwork</h2>
							<p>I have worked in Teams of various sizes across multiple Orgs. Most of the time in close contact, as if I would share an office with them.</p>
						</div>
						
						<div class="talent">
							<h2>Software Testing</h2>
							<p>Testing is critical for every non trivial software and therefore best implemented as early as possible.</p>
						</div>
					</div>
				</div><!--// .yui-gf -->
				
				{% assign topic = university %}
				<div class="yui-gf">
					<div class="yui-u first">
						<h2>University</h2>
					</div>
					<div class="yui-u">
					{% for obj in university %}
						<div class="talent">
							<h2>{{obj.title}}</h2>
							<p>{{ obj.data | join: "<br>" }}</p>
						</div>
					{% endfor %}
					</div>
				</div><!--// .yui-gf-->
				
				{% assign topic = programming.languages[0] %}
				<div class="yui-gf">
					<div class="yui-u first">
						<h2>{{ topic.title }}</h2>
					</div>
					<div class="yui-u">
						{% include cv_table.html content=topic.data rows="2" %}
					</div>
				</div><!--// .yui-gf-->
				
				
				{% assign topic = programming.languages[1] %}
				<div class="yui-gf">
					<div class="yui-u first">
						<h2>{{ topic.title }}</h2>
					</div>
					<div class="yui-u">
						{% include cv_table.html content=topic.data rows="3" class="talent-4" %}
					</div>
				</div><!--// .yui-gf-->
				
				
				{% assign topic = programming.languages[2] %}
				<div class="yui-gf">
					<div class="yui-u first">
						<h2>{{ topic.title }}</h2>
					</div>
					<div class="yui-u">
						{% include cv_table.html content=topic.data rows="1" %}
					</div>
				</div><!--// .yui-gf-->
				
				<div class="yui-gf last">
					<div class="yui-u first">
						<h2>Experience</h2>
					</div><!--// .yui-u -->
					<div class="yui-u">
						{% for occurence in site.data.timeline %}
						{% if forloop.last == false %}
						{% assign last = "" %}
						{% else %}
						{% assign last = " last" %}
						{% endif %}
						<div class="job{{ last }}">
							<h2>{{ occurence.title }}</h2>
							<h4>{{ occurence.start_date }} - {{ occurence.end_date }}</h4>
							{% if occurence.info %}
							{{ occurence.info }}
							{% endif %}
						</div>
						{% endfor %}
					</div><!--// .yui-u -->
				</div><!--// .yui-gf -->
			</div><!--// .yui-b -->
		</div><!--// yui-main -->
	</div><!--// bd -->

	<div id="ft">
		<p>{{person.name}} {{person.lastname}} &mdash; 	<a href="{{ site.data.person.handels.email }}">{{person.email}}</a> &mdash; {{ person.telephone }}</p>
		<p>	<a href="https://github.com/Templer90">github</a> &mdash; 	<a href="{{ site.data.person.handels.xing }}">Xing</a></p>
	</div><!--// footer -->

</div><!-- // inner -->

